fastapi
uvicorn
python-multipart
google-generativeai
langchain-google-genai
langchain-chroma
chromadb
google-cloud-texttospeech
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2

PyPDF2
python-docx
openpyxl
Pillow
beautifulsoup4
requests
lxml
tzdata
